.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-left: 250px; 
    width: calc(100% - 250px);
}
@media (max-width: 1024px) {
    .inner {
        width: 100% !important;
        margin-left: 0 !important;
        padding-top: 270px;
    }
}
