.container {
    width: 100%;
}

.inner {
    padding-left: 250px;
    width: 100%;
    box-sizing: border-box;
    background: #f7f9fc;
}

.page {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
