# ==========================================
# THƯ VIỆN CỐT LÕI AI (YOLO & OCR)
# ==========================================
ultralytics
paddlepaddle
paddleocr
opencv-python
numpy

# ==========================================
# THƯ VIỆN XỬ LÝ CHỮ & SO KHỚP (MATCHER)
# ==========================================
thefuzz
Levenshtein

# ==========================================
# THƯ VIỆN BACKEND API & XỬ LÝ PDF
# ==========================================
fastapi
uvicorn
python-multipart
PyMuPDF